ol {
    list-style-type: decimal;
    line-height: 2;
}

ol li {
    margin-bottom: 8px;
    color: #1a5276;
    font-weight: bold;
}

dl {
    background-color: #f4f9fc;
    padding: 15px;
    border-radius: 8px;
    width: 60%;
    margin: 20px auto;
}

dt {
    font-weight: bold;
    color: #1a5276;
}

dd {
    margin-bottom: 10px;
    color: #34495e;
}